# Использование k ближайших соседей для классификации цветов

In [1]:
import pandas as pd
from sklearn.datasets import load_iris

In [2]:
iris = load_iris()
df = pd.DataFrame(iris.data, columns=iris.feature_names)
df["class"] = iris.target
df["class_name"] = iris.target_names[iris["target"]]
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class,class_name
0,5.1,3.5,1.4,0.2,0,setosa
1,4.9,3.0,1.4,0.2,0,setosa
2,4.7,3.2,1.3,0.2,0,setosa
3,4.6,3.1,1.5,0.2,0,setosa
4,5.0,3.6,1.4,0.2,0,setosa
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2,virginica
146,6.3,2.5,5.0,1.9,2,virginica
147,6.5,3.0,5.2,2.0,2,virginica
148,6.2,3.4,5.4,2.3,2,virginica
149,5.9,3.0,5.1,1.8,2,virginica

In [3]:
from sklearn.model_selection import train_test_split

In [4]:
x_train, x_test, y_trarin, y_test = train_test_split(
    iris.data,
    iris.target,
    test_size=0.2,
    random_state=42,
)
pd.DataFrame(x_test).head()

     0    1    2    3
0  6.1  2.8  4.7  1.2
1  5.7  3.8  1.7  0.3
2  7.7  2.6  6.9  2.3
3  6.0  2.9  4.5  1.5
4  6.8  2.8  4.8  1.4

#### Обучение модели

In [5]:
from sklearn.neighbors import KNeighborsClassifier

In [6]:
model = KNeighborsClassifier(
    n_neighbors=7,
)
model.fit(x_train, y_trarin)
pass

#### Измерение точности

In [7]:
model.score(x_test, y_test)

0.9666666666666667

#### Получение предсказания

In [8]:
predict_class = model.predict([[4.9, 4.1, 1.3, 0.5]])[0]
print(f"Вид ириса: {iris.target_names[predict_class]}")

Вид ириса: setosa